body {
	font-family: 'Abel', sans-serif;
	background-color: black;
	color: white;
}

.hide-btn {
	display: none;
}
.show-btn {
	display: block;
}

.score-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40vh;

	#score {
		font-size: 3rem;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-over-container {
	position: fixed;

	.game-over-message {
		font-size: 150px;
	}

	.continue-message {
		font-size: 65px;
	}

	.countdown-timer {
		font-size: 100px;
		margin: 0 auto;
		width: 50px;
	}
}

.continue-selection {
	display: flex;
	justify-content: center;
	padding-top: 2rem;

	button {
		background-color: #282828;
		margin: 0 2rem;
		width: 90px;
		height: 80px;
		border-radius: 50%;
	}
}

.show-element {
	visibility: visible;
}
.hide-element {
	visibility: hidden;
}

.grid {
	position: absolute;
	width: 560px;
	height: 300px;
	margin-top: 80px;
}

@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	}
}
@keyframes ballBackgroundColorPalette {
	0% {
		background: #aaf683;
	}
	25% {
		background: #ee6055;
	}
	50% {
		background: #ff9b85;
	}
	75% {
		background: #60d394;
	}
	100% {
		background: #ffd97d;
	}
}

.block {
	// Anchor point starts at the bottom left corner
	position: absolute;
	width: 100px;
	height: 20px;
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.player-block {
	position: absolute;
	width: 100px;
	height: 20px;
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.ball {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	animation-name: ballBackgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 350px;

	.btn-secondary {
		background-color: #282828;
		margin: 0 1rem 0;
		width: 250px;
	}

	.btn-secondary:hover {
		background-color: #383838;
	}
}
