body {
  font-family: 'Abel', sans-serif;
  background-color: black;
  color: white;
}

.score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.score-container #score {
  font-size: 3rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  margin-top: 80px;
}

@-webkit-keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}

@-webkit-keyframes ballBackgroundColorPalette {
  0% {
    background: #aaf683;
  }
  25% {
    background: #ee6055;
  }
  50% {
    background: #ff9b85;
  }
  75% {
    background: #60d394;
  }
  100% {
    background: #ffd97d;
  }
}

@keyframes ballBackgroundColorPalette {
  0% {
    background: #aaf683;
  }
  25% {
    background: #ee6055;
  }
  50% {
    background: #ff9b85;
  }
  75% {
    background: #60d394;
  }
  100% {
    background: #ffd97d;
  }
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.player-block {
  position: absolute;
  width: 100px;
  height: 20px;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  -webkit-animation-name: ballBackgroundColorPalette;
          animation-name: ballBackgroundColorPalette;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 350px;
}

.button-container .btn-secondary {
  background-color: #282828;
  margin: 0 1rem 0;
  width: 250px;
}

.button-container .btn-secondary:hover {
  background-color: #383838;
}
/*# sourceMappingURL=styles.css.map */